services:
  zookeeper:
    image: custom-zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    build: ./kafka
    container_name: kafka
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
