name: Frontend CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      # 3. Install dependencies
      - name: Install dependencies
        working-directory: frontend/my-react-app
        run: npm install

      # 4. Build React app
      - name: Build frontend
        working-directory: frontend/my-react-app
        run: npm run build

      # 5. Upload production build
      - name: Upload build folder
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: frontend/my-react-app/dist
